@model InventoryManagement.Entity.Common.SalesReport
@using InventoryManagement.Common
@using InventoryManagement.Entity.Common
@{
    ViewBag.Title = "DateSalesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool IsSoldByHo = (Session["LoginUser"] as User).IsSoldByHo;
    string CurrentPartyCode = (Session["LoginUser"] as User).PartyCode;
    string CurrentPartyName = (Session["LoginUser"] as User).PartyName;
}

<style>
    .ui-widget-header {
        margin-top: -1% !important;
        width: 102% !important;
        margin-left: -1% !important;
    }
     .gj-grid-wrapper {
        min-width: 100% !important;
        overflow-x: scroll !important;
    }
    .ui-dialog-titlebar-close {
        margin-right: 1% !important;
    }

    .ui-widget-content {
        background: white !important;
        border-radius: 15px !important;
        -webkit-border-radius: 4px !important;
    }
    /*.ui-widget-header .ui-icon {
        background-color: black!important;
    }*/
    ui-autocomplete-input {
        z-index: 100;
    }

    .input-readonly {
        background-color: #EBEBE4;
    }
</style>
<script type="text/javascript">
    var grid, dialog;
    var IsYes = false;
    var DateWiseGrid = [{}];

    var SalesType = "DateWise";

    var IsDateFilter = false;
    var FromDate="", ToDate="";
    var PreviouslySelectedFromDate = "";
    var PreviouslySelectedToDate = "";
    var PreviouslySelectedFromPickerDate = "";
    var PreviouslySelectedToPickerDate = "";
    var IsParty = false;
    var PartyList = [];
    var FullPartyList;
    $(document).ready(function () {
        var IsAdministrator='@IsSoldByHo';
        if (IsAdministrator=="True") {
            GetAllParty();
        }
        else{
            @*$("#PartyName").val('@CurrentPartyName');
            $("#PartyName").prop("readonly", "readonly");*@
            $("#PartyCode").val('@CurrentPartyCode');
        }
        $(".preloader").hide();
        $('#IsDateFilter').on('ifChecked', function () {
            //console.log("checked");
            IsDateFilter = true;
            $("#StartDate").val("All");
            $("#StartDate").prop("readonly", "readonly");
            $("#EndDate").val("All");
            $("#EndDate").prop("readonly", "readonly");
            FromDate = "";
            ToDate = "";
            //GetSalesDetails($("#StartDate").val(), $("#EndDate").val(), '@CurrentPartyCode', "S");

        });
        $('#IsDateFilter').on('ifUnchecked', function () {
            //console.log("checked");
            IsDateFilter = false;
            $("#StartDate").val("");
            $("#StartDate").prop("readonly", "");
            $("#EndDate").val("");
            $("#EndDate").prop("readonly", "");
            FromDate = "";
            ToDate = "";

        });

        $("#StartDate").datetimepicker({


            format: 'DD-MMM-YYYY'
            ,
            // todayHighlight:true,
            widgetPositioning: {
                horizontal: 'auto',
                vertical: 'bottom'
            }

        });
        $("#EndDate").datetimepicker({


            format: 'DD-MMM-YYYY'
            ,
            // todayHighlight:true,
            widgetPositioning: {
                horizontal: 'auto',
                vertical: 'bottom'
            }

        });

        $("#btnExport").on('click', function () {
            var UserTypeStr = "DateWiseSalesReport";


            console.log("in export gridExport", DateWiseGrid);
            var tableString = "<thead><tr>";
            tableString += "<th>S.No.</th>";
            tableString += "<th>Record Date</th>";
            tableString += "<th>No. Of Bills</th>";
            tableString += "<th>Total Qty</th>";
            tableString += "<th>Total VRP</th>";
            tableString += "<th>Total Amount</th>";
            tableString += "<th>Total Tax Amt.</th>";
            tableString += "<th>Total Bill Amt.</th>";
            tableString += "<th>Total Paid By Wallet</th>";
            tableString += "</tr></thead><tbody>";
            for (var i = 0; i < DateWiseGrid.length; i++) {
                tableString += "<tr>";
                tableString += "<td>" + DateWiseGrid[i].SNo + "</td>";
                tableString += "<td>" + DateWiseGrid[i].RecordDate + "</td>";
                tableString += "<td>" + DateWiseGrid[i].NoOfBills + "</td>";
                tableString += "<td>" + DateWiseGrid[i].TotalQty + "</td>";
                tableString += "<td>" + DateWiseGrid[i].TotalBV + "</td>";
                tableString += "<td>" + DateWiseGrid[i].TotalAmount + "</td>";
                tableString += "<td>" + DateWiseGrid[i].TotalTaxAmount + "</td>";
                tableString += "<td>" + DateWiseGrid[i].TotalBillAmt + "</td>";
                tableString += "<td>" + DateWiseGrid[i].TotalPaidByWallet + "</td>";

                tableString += "</tr>";
            }


            tableString += "</tbody>";
            $("#gridExport").empty();
            $("#gridExport").append(tableString);
            tableToExcel('gridExport', UserTypeStr + "_Export");
        });

        $("#btnShowReport").on('click', function () {
            $(".preloader").show();
            var PartyCode = $("#PartyCode").val();
            var DateError = false;
            FromDate = $("#StartDate").val();
            ToDate = $("#EndDate").val();
            if (FromDate != "" && FromDate != null && ToDate != "") {
                var d1 = toDate(FromDate);
                var d2 = toDate(ToDate);
                if (d1 > d2) {
                    DateError = true;
                    $(".preloader").hide();

                    OpenDialog("dialogMessage", "From Date should be less than To Date!", "false");
                    //$("#StartDate").focus();
                }
                else {
                    DateError = false;

                }
            }
            else {
                DateError = false;
                if (IsDateFilter == false) {
                    
                }
               if (FromDate == "" || FromDate == null) {
                    FromDate = "All";
                    // OpenDialog("dialogMessage", "Please enter from date!", "false");
                }
                if (ToDate == "" || ToDate == null) {
                    ToDate = "All";
                    //OpenDialog("dialogMessage", "Please enter to date!", "false");
                }
            }

            if (DateError == false) {
                 
                var InvoiceTypeVal = "";
                $.ajax({
                    url: '@Url.Action("GetSalesReport", "Report")',
                    type: 'POST',
                    data: { "FromDate": FromDate, "ToDate": ToDate, "CustomerId": "", "ProductCode": "", "CategoryCode": "", "PartyCode": PartyCode, "BType": "S", "SalesType": SalesType, "InvoiceType": InvoiceTypeVal, "FType": "A", "OfferUID": 99 },

                    dataType: "json",
                    success: function (objResult) {
                        DateWiseGrid = [{}];
                        if (objResult.length > 0) {

                            DateWiseGrid = DateWiseGrid.splice(1);
                            for (var i = 0; i < objResult.length; i++) {
                                console.log("objResult[i].RecordDate", objResult[i].RecordDate);
                                var dateObj = new Date(objResult[i].RecordDate.match(/\d+/)[0] * 1);
                                var myDate = (dateObj.getDate()) + "/" + (dateObj.getMonth() + 1) + "/" + dateObj.getFullYear();

                                DateWiseGrid.push({ "SNo": i + 1, "RecordDate": myDate, "NoOfBills": objResult[i].NoOfBills, "TotalQty": objResult[i].TotalQty, "TotalBV": objResult[i].TotalBV, "TotalAmount": objResult[i].TotalAmount, "TotalTaxAmount": objResult[i].TotalTaxAmount, "TotalBillAmt": objResult[i].TotalBillAmt, "TotalPaidByWallet": objResult[i].TotalPaidByWallet == "" ? 0 : objResult[i].TotalPaidByWallet });
                            }

                        }

                        fillGrid();
                        //FromDate = $("#StartDate").val();
                        //ToDate = $("#EndDate").val();
                        $(".preloader").hide();
                    },
                    error: function (xhr, data) {
                        //  return false;
                        console.log(xhr);
                        console.log("Error:", data);
                    }
                });
            }
        });

        //function GetSalesDetails() {

        //}
        $("#PartyName").autocomplete({
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(PartyList, request.term);

                response(results.slice(0, 50));
                //response(results);
                //$('html').getNiceScroll().resize();
                //$('#sidebar').getNiceScroll().resize();
                //$('.scroll-panel').getNiceScroll().resize();
                //response(ItemList);
            },
            minLength: 1,
            scroll: true,
            select: function (event, ui) {
                //$("#txDestination").val(ui.item.label);
                //cityID = ui.item.id;
                console.log("ui.item", ui.item.label);
                $("#PartyName").val(ui.item.label);
                SetSpecificCode("Party", ui.item.label);
                return false;
            },

        }).focus(function () {
            $(this).autocomplete("search", "");
        });

        $('#IsParty').on('ifChecked', function () {
            //console.log("checked");
            IsParty = true;
            //$("#PartyName").val("All");
            //$("#PartyName").prop("readonly", "readonly");
            //$("#PartyCode").val(0);
            $("#PartyName").val('All');
            $("#PartyName").prop("readonly", "readonly");
            $("#PartyCode").val('0');
        });

        $('#IsParty').on('ifUnchecked', function () {
            //console.log("checked");
            IsParty = false;
            //$("#PartyName").val("");
            //$("#PartyName").prop("readonly", "");
            //$("#PartyCode").val("");
            $("#PartyName").val('');
            $("#PartyName").prop("readonly", "");
            $("#PartyCode").val('');
        });

    });

    function SetSpecificCode(type, label) {

        if (type == "Party") {
            for (var i = 0; i < FullPartyList.length; i++) {
                if (FullPartyList[i].PartyName == label) {
                    $("#PartyCode").val(FullPartyList[i].PartyCode);
                    break;
                }
            }
        }
    }

    function GetAllParty() {
        $.ajax({
            url: '/Report/GetAllPartyListForReports',
            dataType: 'JSON',
            method: 'GET',
            //data: { 'LedgerName': '' },
            success: function (data) {
                console.log("data:", data);
                //response(data);
                FullPartyList = data;
                PartyList = [];
                if (data != null) {
                    var i = 0;
                    for (i = 0; i < data.length; i++) {
                        //console.log("data[i]", data[i]);
                        PartyList.push(data[i].PartyName);
                    }
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function toDate(dateStr) {
        var parts = dateStr.split("-");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }
    function OpenDialog(dialogId, Message, isConfirmation) {
        $("#" + dialogId).empty();
        $("#" + dialogId).append('<p>' + Message + '</p>');
        if (isConfirmation == "true") {
            $("#" + dialogId).dialog({
                modal: true,
                buttons: [{
                    text: "Yes",
                    id: "btnYes" + dialogId,
                    click: function () {
                        //var isOpen = $("#dialog").dialog("isOpen");
                        //if (isOpen == true) {
                        //    okCallBack();
                        //}
                        IsYes = true;
                        $("#" + dialogId).dialog("close");


                    }
                },
                {
                    text: "No",
                    id: "btnNo" + dialogId,
                    click: function () {
                        //var isOpen = $("#dialog").dialog("isOpen");
                        //if (isOpen == true) {
                        //    okCallBack();
                        //}
                        IsYes = false;
                        $("#" + dialogId).dialog("close");
                    }
                }
                ]
            });
            $(".ui-dialog-titlebar-close").empty();
            $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
        }
        else {


            $("#" + dialogId).dialog({
                modal: true,
                buttons: [{
                    text: "OK",
                    id: "btn" + dialogId,
                    click: function () {
                        //var isOpen = $("#dialog").dialog("isOpen");
                        //if (isOpen == true) {
                        //    okCallBack();
                        //}

                        $("#" + dialogId).dialog("close");


                    }
                }]
            });
            $(".ui-dialog-titlebar-close").empty();
            $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
        }

    }

    function fillGrid() {
        console.log("DateWiseGrid", DateWiseGrid);

        // StockGrid = StockGrid.splice(1);

        $("#noRecord").hide();
        //console.log("ProductGrid", ProductGrid);
        if (grid != null) {
            grid.destroy();
            $('#grid').empty();

        }

            grid = $('#grid').grid({
                dataSource: DateWiseGrid,
                uiLibrary: 'bootstrap',
                headerFilter: true,
                columns: [
                    { field: 'SNo', title: 'S.No.',width:100, sortable: true, hidden: false, filterable: false },
                     { field: 'RecordDate', title: 'Date', width: 100, sortable: true, hidden: false, filterable: true },
                      { field: 'NoOfBills', title: 'No. Of Bills', width: 90, sortable: true, hidden: false, filterable: true },
                       { field: 'TotalQty', title: 'Total Qty.', width: 80, sortable: true, hidden: false, filterable: true },
                        { field: 'TotalBV', title: 'Total VRP', sortable: true, width: 100, hidden: false, filterable: true },
                        { field: 'TotalAmount', title: 'Total Amount', width: 100, sortable: true, hidden: false, filterable: true },
                        { field: 'TotalTaxAmount', title: 'Total Tax Amt.', width: 120, sortable: true, hidden: false, filterable: true },
                         { field: 'TotalBillAmt', title: 'Total Bill Amt.', width: 120, sortable: true, hidden: false, filterable: true },
                          { field: 'TotalPaidByWallet', title: 'Total Paid By Wallet', width: 130, sortable: true, hidden: false, filterable: true },


                ],
                pager: { limit: 20, sizes: [15, 20, 35, 50, 65, 80, 95, 100] }
            });


    }


</script>
<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3>Sales Report</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Date Wise</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="DateWiseSalesForm" method="post" name="DateWiseSalesForm" onsubmit="false" data-parsley-validate class="validateForm form-horizontal form-label-left">
                        @Html.HiddenFor(m => m.PartyCode, new { id = "PartyCode", name = "PartyCode" })


                        <div class="col-lg-12">
                            <div class="col-lg-8">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-6 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                            From Date @*<span class="required">*</span>*@
                                        </label>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">

                                            @Html.TextBoxFor(m => m.StartDate, new { name = "StartDate", id = "StartDate", tabindex = "1", @class = "form-control col-md-7 col-xs-12" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-6 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                            To Date @*<span class="required">*</span>*@
                                        </label>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">

                                            @Html.TextBoxFor(m => m.EndDate, new { name = "EndDate", id = "EndDate", tabindex = "2", @class = "form-control col-md-7 col-xs-12" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <div id="IsProductDiv">
                                        <label>
                                            <input type="checkbox" id="IsDateFilter" name="IsDateFilter" class="flat" tabindex="3" />


                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (IsSoldByHo)
                        {
                            <div class="col-lg-12">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                            Enter Party
                                        </label>
                                        <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">

                                            @Html.TextBoxFor(m => m.PartyName, new { name = "PartyName", id = "PartyName", tabindex = "5", @class = "form-control col-md-7 col-xs-12" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div id="IsPartyDiv">
                                            <label>
                                                <input type="checkbox" id="IsParty" name="IsParty" class="flat" tabindex="6" />


                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="col-lg-12">

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="col-lg-9">
                                        <input type="button" id="btnShowReport" name="btnShowReport" value="Show Report" style="margin-left:75%"/>
                                        <img src="~/images/ExcelImage.jpg" id="btnExport" style="margin-right: 6%;height: 25px;cursor:pointer;float:right" />
                                    </div>
                                    <div class="col-lg-3">&nbsp;</div>
                                </div>
                                <br /><br /><br /><center><div class="loader" style="display:none"></div></center>
                                <table class="table bootstrap-datatable" id="grid"></table>
                                <center><span style="display:none" id="noRecord">No Records Found</span></center>


                            </div>
                        </div>

                        <table id="gridExport" style="display:none"></table>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <div id="dialogMessage" title="Message">

    </div>

</div>

