@model InventoryManagement.Entity.Common.SalesReport
@using InventoryManagement.Common
@using InventoryManagement.Entity.Common
@{
    ViewBag.Title = "MonthWiseSalesSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool IsSoldByHo = (Session["LoginUser"] as User).IsSoldByHo;
    string CurrentPartyCode = (Session["LoginUser"] as User).PartyCode;
    string CurrentPartyName = (Session["LoginUser"] as User).PartyName;
}

<style>
    .ui-widget-header {
        margin-top: -1% !important;
        width: 102% !important;
        margin-left: -1% !important;
    }

    .ui-dialog-titlebar-close {
        margin-right: 1% !important;
    }

    .ui-widget-content {
        background: white !important;
        border-radius: 15px !important;
        -webkit-border-radius: 4px !important;
    }
    /*.ui-widget-header .ui-icon {
        background-color: black!important;
    }*/
    ui-autocomplete-input {
        z-index: 100;
    }
    .gj-grid-wrapper {
    min-width:100%!important;
    overflow-x:scroll!important;
    }

    .input-readonly {
        background-color: #EBEBE4;
    }
</style>
<script type="text/javascript">
    var grid, dialog;
    var StockGrid = [{}];
    var IsBatch = false;
    var tableStockGrid;
    var ViewType = "Supplier";
    var IsParty = false;
    var IsSupplier = false;
    var IsQuantity = false;
    var IsAmount = true;
    var PreviouslySelectedFromDate = "";
    var PreviouslySelectedToDate = "";
    var PreviouslySelectedToPickerDate = "";
    var PreviouslySelectedFromPickerDate = "";
    var IsDateFilter = false;
    var FromDate = "", ToDate = "";
    var PartyList = [];
    var FullPartyList;
    var SupplierList = [];
    var FullSupplierList;

    $(document).ready(function () {
        var IsAdministrator='@IsSoldByHo';
        if (IsAdministrator=="True") {
            GetAllParty();
        }
        else{
            @*$("#PartyName").val('@CurrentPartyName');
            $("#PartyName").prop("readonly", "readonly");*@
            $("#PartyCode").val('@CurrentPartyCode');
        }

        $(".preloader").hide();

        

        fillGrid();
        $("#SelectedViewType").val("Supplier");
        console.log("SupplierList", SupplierList);

        $("#SupplierName").autocomplete({
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(SupplierList, request.term);

                response(results.slice(0, 50));

            },
            minLength: 1,
            scroll: true,
            select: function (event, ui) {

                console.log("ui.item", ui.item.label);
                $("#SupplierName").val(ui.item.label);
                SetSpecificCode("Supplier", ui.item.label);
                return false;
            },

        }).focus(function () {
            $(this).autocomplete("search", "");
        });

        $('#IsSupplier').on('ifChecked', function () {
            //console.log("checked");
            IsSupplier = true;
            $("#SupplierName").val("All");
            $("#SupplierName").prop("readonly", "readonly");
            $("#SupplierCode").val(0);

        });

        $('#IsSupplier').on('ifUnchecked', function () {
            //console.log("checked");
            IsSupplier = false;
            $("#SupplierName").val("");
            $("#SupplierName").prop("readonly", "");
            $("#SupplierCode").val("");

        });

        $("#PartyName").autocomplete({
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(PartyList, request.term);

                response(results.slice(0, 50));

            },
            minLength: 1,
            scroll: true,
            select: function (event, ui) {

                console.log("ui.item", ui.item.label);
                $("#PartyName").val(ui.item.label);
                SetSpecificCode("Party",ui.item.label);
                return false;
            },

        }).focus(function () {
            $(this).autocomplete("search", "");
        });


        $('#IsParty').on('ifChecked', function () {
            //console.log("checked");
            IsParty = true;
            $("#PartyName").val("All");
            $("#PartyName").prop("readonly", "readonly");
            $("#PartyCode").val(0);

        });

        $('#IsParty').on('ifUnchecked', function () {
            //console.log("checked");
            IsParty = false;
            $("#PartyName").val("");
            $("#PartyName").prop("readonly", "");
            $("#PartyCode").val("");

        });

        $('#IsQuantity').on('ifChecked', function () {
            //console.log("checked");
            IsQuantity = true;
            var PartyCode = $("#PartyCode").val();
            var SupplierCode = $("#SupplierCode").val();
            var Year = $("#YearList").val();
            GetPurchaseSummary(Year,IsQuantity, IsAmount, PartyCode, SupplierCode);


        });
        $('#IsQuantity').on('ifUnchecked', function () {
            //console.log("checked");
            IsQuantity = false;
            var PartyCode = $("#PartyCode").val();
            var SupplierCode = $("#SupplierCode").val();
            var Year = $("#YearList").val();
            GetPurchaseSummary(Year,IsQuantity, IsAmount, PartyCode, SupplierCode);

        });
        $('#IsAmount').on('ifChecked', function () {
            //console.log("checked");
            IsAmount = true;
            var PartyCode = $("#PartyCode").val();
            var SupplierCode = $("#SupplierCode").val();
            var Year = $("#YearList").val();
            GetPurchaseSummary(Year,IsQuantity, IsAmount, PartyCode, SupplierCode);

        });
        $('#IsAmount').on('ifUnchecked', function () {
            //console.log("checked");
            IsAmount = false;
            var PartyCode = $("#PartyCode").val();
            var SupplierCode = $("#SupplierCode").val();
            var Year = $("#YearList").val();
            GetPurchaseSummary(Year,IsQuantity, IsAmount, PartyCode, SupplierCode);
        });



    $("#ViewReport").click(function () {

        var PartyCode = $("#PartyCode").val();
        var SupplierCode = $("#SupplierCode").val();
        var Year = $("#YearList").val();
        GetPurchaseSummary(Year,IsQuantity, IsAmount, PartyCode, SupplierCode);
    });


    });
    function toFormatDate(dateStrToFormat) {
       // console.log("dateStr", dateStr);
        var parts = dateStrToFormat.split("-");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }
    function SetSpecificCode(type, label) {

        if (type == "Party") {
            for (var i = 0; i < FullPartyList.length; i++) {
                if (FullPartyList[i].PartyName == label) {
                    $("#PartyCode").val(FullPartyList[i].PartyCode);
                    break;
                }
            }
        }
        else if (type == "Supplier") {
            console.log("in supplier");
            for (var i = 0; i < FullSupplierList.length; i++) {
                if (FullSupplierList[i].PartyName == label) {
                    $("#SupplierCode").val(FullSupplierList[i].PartyCode);
                    break;
                }
            }
            console.log($("#SupplierCode").val());
        }
    }

    function GetAllSupplier(){
        $.ajax({
            url: '/Report/GetSupplier',
            dataType: 'JSON',
            method: 'GET',
            //data: { 'LedgerName': '' },
            success: function (data) {
                console.log("data:", data);
                //response(data);
                FullSupplierList = data;
                SupplierList = [];
                if (data != null) {
                    var i = 0;
                    for (i = 0; i < data.length; i++) {
                        //console.log("data[i]", data[i]);
                        SupplierList.push(data[i].PartyName);
                    }
                }
                console.log("SupplierList in function", SupplierList);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }


    function GetAllParty() {
        $.ajax({
            url: '/Report/GetAllParty',
            dataType: 'JSON',
            method: 'GET',
            //data: { 'LedgerName': '' },
            success: function (data) {
                console.log("data:", data);
                //response(data);
                FullPartyList = data;
                PartyList = [];
                if (data != null) {
                    var i = 0;
                    for (i = 0; i < data.length; i++) {
                        //console.log("data[i]", data[i]);
                        PartyList.push(data[i].PartyName);
                    }
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }


    function OpenDialog(dialogId, Message, isConfirmation) {
        $("#" + dialogId).empty();
        $("#" + dialogId).append('<p>' + Message + '</p>');
        if (isConfirmation == "true") {
            $("#" + dialogId).dialog({
                modal: true,
                buttons: [{
                    text: "Yes",
                    id: "btnYes" + dialogId,
                    click: function () {
                        //var isOpen = $("#dialog").dialog("isOpen");
                        //if (isOpen == true) {
                        //    okCallBack();
                        //}
                        IsYes = true;
                        $("#" + dialogId).dialog("close");


                    }
                },
                {
                    text: "No",
                    id: "btnNo" + dialogId,
                    click: function () {
                        //var isOpen = $("#dialog").dialog("isOpen");
                        //if (isOpen == true) {
                        //    okCallBack();
                        //}
                        IsYes = false;
                        $("#" + dialogId).dialog("close");
                    }
                }
                ]
            });
            $(".ui-dialog-titlebar-close").empty();
            $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
        }
        else {


            $("#" + dialogId).dialog({
                modal: true,
                buttons: [{
                    text: "OK",
                    id: "btn" + dialogId,
                    click: function () {
                        //var isOpen = $("#dialog").dialog("isOpen");
                        //if (isOpen == true) {
                        //    okCallBack();
                        //}

                        $("#" + dialogId).dialog("close");


                    }
                }]
            });
            $(".ui-dialog-titlebar-close").empty();
            $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
        }

    }
    function fillGrid() {
        console.log("StockGrid", StockGrid);

               // StockGrid = StockGrid.splice(1);

        $("#noRecord").hide();
        //console.log("ProductGrid", ProductGrid);
        if (grid != null) {
            grid.destroy();
            $('#grid').empty();

        }
        if (IsQuantity && IsAmount) {
            grid = $('#grid').grid({
                dataSource: StockGrid,
                uiLibrary: 'bootstrap',
                headerFilter: true,
                columns: [
                    { field: 'SNo', title: 'S.No.', sortable: true, hidden: false, width: 50, filterable: false },


                      { field: 'PartyName', title: 'Party Name', sortable: true, hidden: false, width: 100, filterable: true },
                      { field: 'Jan_Qty', title: 'Jan-Qty', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'Jan_Sales', title: 'Jan-Sales', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'Feb_Qty', title: 'Feb-Qty', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'Feb_Sales', title: 'Feb-Sales', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'March_Qty', title: 'Mar-Qty', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'March_Sales', title: 'Mar-Sales', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'April_Qty', title: 'Apr-Qty', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'April_Sales', title: 'Apr-Sales', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'May_Qty', title: 'May-Qty', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'May_Sales', title: 'May-Sales', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'June_Qty', title: 'June-Qty', sortable: true, hidden: false, width: 75, filterable: true },
                      { field: 'June_Sales', title: 'June-Sales', sortable: true, hidden: false, width: 75, filterable: true },
                      { field: 'July_Qty', title: 'July-Qty', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'July_Sales', title: 'July-Sales', sortable: true, hidden: false, filterable: true },
                      { field: 'August_Qty', title: 'Aug-Qty', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'August_Sales', title: 'Aug-Sales', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'Sep_Qty', title: 'Sep-Qty', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'Sep_Sales', title: 'Sep-Sales', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'Oct_Qty', title: 'Oct-Qty', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'Oct_Sales', title: 'Oct-Sales', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'Nov_Qty', title: 'Nov-Qty', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'Nov_Sales', title: 'Nov-Sales', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'Dec_Qty', title: 'Dec-Qty', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'Dec_Sales', title: 'Dec-Sales', sortable: true, hidden: false, width: 70, filterable: true },
                      { field: 'TotalQty', title: 'Total Qty', sortable: true, hidden: false, width: 75, filterable: true },
                        { field: 'TotalSales', title: 'Total Sale', sortable: true, hidden: false, width: 75, filterable: true },

                ],
                pager: { limit: 20, sizes: [15, 20, 35, 50, 65, 80, 95, 100] }
            });
        }
        else if(IsQuantity){
            grid = $('#grid').grid({
                dataSource: StockGrid,
                uiLibrary: 'bootstrap',
                headerFilter: true,
                columns: [
                    { field: 'SNo', title: 'S.No.', sortable: true, hidden: false, filterable: false },

                      { field: 'PartyName', title: 'Party Name', sortable: true, hidden: false, filterable: true },
                      { field: 'Jan_Qty', title: 'Jan-Qty', sortable: true, hidden: false, filterable: true },

                      { field: 'Feb_Qty', title: 'Feb-Qty', sortable: true, hidden: false, filterable: true },

                      { field: 'March_Qty', title: 'Mar-Qty', sortable: true, hidden: false, filterable: true },

                      { field: 'April_Qty', title: 'Apr-Qty', sortable: true, hidden: false, filterable: true },

                      { field: 'May_Qty', title: 'May-Qty', sortable: true, hidden: false, filterable: true },

                      { field: 'June_Qty', title: 'June-Qty', sortable: true, hidden: false, filterable: true },

                      { field: 'July_Qty', title: 'July-Qty', sortable: true, hidden: false, filterable: true },

                      { field: 'August_Qty', title: 'Aug-Qty', sortable: true, hidden: false, filterable: true },

                      { field: 'Sep_Qty', title: 'Sep-Qty', sortable: true, hidden: false, filterable: true },

                      { field: 'Oct_Qty', title: 'Oct-Qty', sortable: true, hidden: false, filterable: true },

                      { field: 'Nov_Qty', title: 'Nov-Qty', sortable: true, hidden: false, filterable: true },

                      { field: 'Dec_Qty', title: 'Dec-Qty', sortable: true, hidden: false, filterable: true },

                      { field: 'TotalQty', title: 'Total Qty', sortable: true, hidden: false, filterable: true },


                ],
                pager: { limit: 20, sizes: [15, 20, 35, 50, 65, 80, 95, 100] }
            });
        }
        else if(IsAmount){
            grid = $('#grid').grid({
                dataSource: StockGrid,
                uiLibrary: 'bootstrap',
                headerFilter: true,
                columns: [
                    { field: 'SNo', title: 'S.No.', sortable: true, hidden: false, filterable: false },

                      { field: 'PartyName', title: 'Party Name', sortable: true, hidden: false, filterable: true },
                      { field: 'Jan_Sales', title: 'Jan-Sales', sortable: true, hidden: false, filterable: true },

                      { field: 'Feb_Sales', title: 'Feb-Sales', sortable: true, hidden: false, filterable: true },

                      { field: 'March_Sales', title: 'Mar-Sales', sortable: true, hidden: false, filterable: true },

                      { field: 'April_Sales', title: 'Apr-Sales', sortable: true, hidden: false, filterable: true },

                      { field: 'May_Sales', title: 'May-Sales', sortable: true, hidden: false, filterable: true },

                      { field: 'June_Sales', title: 'June-Sales', sortable: true, hidden: false, filterable: true },

                      { field: 'July_Sales', title: 'July-Sales', sortable: true, hidden: false, filterable: true },

                      { field: 'August_Sales', title: 'Aug-Sales', sortable: true, hidden: false, filterable: true },

                      { field: 'Sep_Sales', title: 'Sep-Sales', sortable: true, hidden: false, filterable: true },

                      { field: 'Oct_Sales', title: 'Oct-Sales', sortable: true, hidden: false, filterable: true },

                      { field: 'Nov_Sales', title: 'Nov-Sales', sortable: true, hidden: false, filterable: true },

                      { field: 'Dec_Sales', title: 'Dec-Sales', sortable: true, hidden: false, filterable: true },

                        { field: 'TotalSales', title: 'Total Sale', sortable: true, hidden: false, filterable: true },

                ],
                pager: { limit: 20, sizes: [15, 20, 35, 50, 65, 80, 95, 100] }
            });
        }
        else {
            grid = $('#grid').grid({
                dataSource: StockGrid,
                uiLibrary: 'bootstrap',
                headerFilter: true,
                columns: [
                    { field: 'SNo', title: 'S.No.', sortable: true, hidden: false, filterable: false },

                      { field: 'PartyName', title: 'Party Name', sortable: true, hidden: false, filterable: true },
                      { field: 'TotalQty', title: 'Total Qty', sortable: true, hidden: false, filterable: true },
                        { field: 'TotalSales', title: 'Total Sale', sortable: true, hidden: false, filterable: true },

                ],
                pager: { limit: 20, sizes: [15, 20, 35, 50, 65, 80, 95, 100] }
            });
        }

    }

    function GetPurchaseSummary(Year,IsQuantity, IsAmount, PartyCode) {
        $(".preloader").hide();

        if (PartyCode=="" || PartyCode == null) {
            if (PartyCode == "") {
                PartyCode = 0;
            }

        }

        if (Year == "" || Year == null) {
            if (Year == "") {
                Year = 0;
            }

        }


            console.log("FromDate", FromDate);
            console.log("ToDate", ToDate);

                $.ajax({
                    url: '@Url.Action("GetMonthWiseSalesSummary", "Report")',
                    type: 'POST',
                    data: {"Year":Year, "IsQuantity": IsQuantity, "IsAmount": IsAmount, "PartyCode": PartyCode},

                    dataType: "json",
                    success: function (objResult) {
                        StockGrid = [{}];
                        if (objResult.length > 0) {

                            StockGrid = StockGrid.splice(1);


                                for (var i = 0; i < objResult.length; i++) {

                                    StockGrid.push({ "SNo": i + 1, "PartyCode": objResult[i].PartyCode, "PartyName": objResult[i].PartyName, "Jan_Qty": objResult[i].Jan_Qty, "Jan_Sales": objResult[i].Jan_Sales, "Feb_Qty": objResult[i].Feb_Qty, "Feb_Sales": objResult[i].Feb_Sales, "March_Qty": objResult[i].March_Qty, "March_Sales": objResult[i].March_Sales, "April_Qty": objResult[i].April_Qty, "April_Sales": objResult[i].April_Sales, "May_Qty": objResult[i].May_Qty, "May_Sales": objResult[i].May_Sales, "June_Qty": objResult[i].June_Qty, "June_Sales": objResult[i].June_Sales, "July_Qty": objResult[i].July_Qty, "July_Sales": objResult[i].July_Sales, "August_Qty": objResult[i].August_Qty, "August_Sales": objResult[i].August_Sales, "Sep_Qty": objResult[i].Sep_Qty, "Sep_Sales": objResult[i].Sep_Sales, "Oct_Qty": objResult[i].Oct_Qty, "Oct_Sales": objResult[i].Oct_Sales, "Nov_Qty": objResult[i].Nov_Qty, "Nov_Sales": objResult[i].Nov_Sales, "Dec_Qty": objResult[i].Dec_Qty, "Dec_Sales": objResult[i].Dec_Sales, "TotalQty": objResult[i].TotalQty, "TotalSales": objResult[i].TotalSales });
                                }

                                tableStockGrid = StockGrid;

                            $("#noRecord").hide();

                        }
                        else {

                            $("#noRecord").show();
                        }
                        fillGrid();
                        $(".preloader").hide();

                    },
                    error: function (xhr, data) {
                        //  return false;
                        console.log(xhr);
                        console.log("Error:", data);
                    }
                });




    }

</script>

<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3>Report</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Month Wise Sales Summary</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="distributorForm" method="post" name="distributorForm" onsubmit="false" data-parsley-validate class="validateForm form-horizontal form-label-left">
                        
                        @Html.HiddenFor(m => m.PartyCode, new { id = "PartyCode", name = "PartyCode" })
                        @Html.Hidden("SelectedViewType", new { id = "SelectedViewType", name = "SelectedViewType" })

                        @if (IsSoldByHo)
                        {
                        <div class="row" style="margin-top:1%">
                            <div class="col-lg-8">
                                <label class="control-label col-lg-2 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                    Party @*<span class="required">*</span>*@
                                </label>
                                <div class="col-lg-10 col-md-6 col-sm-6 col-xs-12" style="padding-left:0px">

                                    @Html.TextBoxFor(m => m.PartyName, new { name = "PartyName", id = "PartyName", tabindex = "0", @class = "form-control col-md-7 col-xs-12" })
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div id="IsPartyDiv">
                                    <label>
                                        <input type="checkbox" id="IsParty" name="IsParty" class="flat" tabindex="0" />


                                    </label>

                                </div>
                            </div>

                        </div>
                        }
                        <div class="row" style="margin-top:1%">
                            <div class="col-lg-4">
                                <label class="control-label col-lg-4 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                    Select Year @*<span class="required">*</span>*@
                                </label>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 3px;">
                                    @Html.DropDownList("YearList", ViewBag.ListYear as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <label class="control-label col-lg-4 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                    Report Type @*<span class="required">*</span>*@
                                </label>
                                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12" style="margin-top:2%">
                                    <label>
                                        <input type="checkbox" id="IsQuantity" name="IsQuantity" class="flat" tabindex="0" />
                                        Quantity
                                    </label>
                                    &nbsp;
                                    <label>
                                        <input type="checkbox" id="IsAmount" name="IsAmount" class="flat" tabindex="0" checked="checked" />
                                        Amount
                                    </label>

                                </div>

                            </div>
                            <div class="col-lg-2">
                                <a style="cursor:pointer;color:blue;text-decoration:underline" id="ViewReport">View</a>
                            </div>
                            <div class="col-lg-2">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <br />
                            <div>
                                <b><span id="StockTypeLabel"></span></b>
                            </div>
                            <br />

                            <br />@*<br /><br /><center><div class="loader" style="display:none"></div></center>*@
                            <table class="table bootstrap-datatable" id="grid"></table>
                            <center><span style="display:none" id="noRecord">No Stock Found</span></center>


                        </div>


                        <table id="gridExport" style="display:none"></table>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div id="dialogMessage" title="Message">

    </div>

</div>

