@model InventoryManagement.Entity.Common.Wallet
@using InventoryManagement.Common
@using InventoryManagement.Entity.Common
@{
    ViewBag.Title = "AddWallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentPartyCode = (Session["LoginUser"] as User).PartyCode;
    string CurrentPartyName = (Session["LoginUser"] as User).PartyName;
}

<script type="text/javascript">    
    var PartyList = [];
    $(document).ready(function () {
        GetParytList();
        $(".preloader").hide();
        var tryNumber = 0;
        $("#PartyList").change(function () {
            var fcode=$('#PartyList option:selected').attr("data-qty")
            $("#FCode").val(fcode);
            if( $('input[name="DrCr"]:checked').attr("value")=="Debit")
                checkbalance();
            var objIndex = PartyList.findIndex((obj => obj.PartyCode == fcode));
            var Balance = PartyList[objIndex].Balance;
            $("#Balance").text("Balance: " +Balance);
        });
        $("#Amount").focusout(function () {
            if ($('input[name="DrCr"]:checked').attr("value") == "Debit")
                checkbalance();
            
        });

        $('input[type=radio][name=DrCr]').change(function () {
            if ($('input[name="DrCr"]:checked').attr("value") == "Debit")
                checkbalance();

        });

        function checkbalance()
        {
            var FCode = $("#PartyList").val();
            var Amount = $("#Amount").val();
            if (FCode != "" && Amount > 0) {
                for (var i = 0; i < PartyList.length; i++) {
                    if (PartyList[i].PartyName == FCode && parseFloat(PartyList[i].Balance) < parseFloat(Amount)) {
                        OpenDialog("dialogMessage", "You can debit maximum " + PartyList[i].Balance + " Rs. from wallet.", "false");
                        $("#Amount").val("0");
                    }
                }
            }
        }
        $("form[name=form_walletBalance]").unbind("submit");
        $("form[name=form_walletBalance]").bind('submit', function (e) {
            var Amount = $("#Amount").val();
            if (Amount > 0) {
            $("#SaveWalletBalance").attr("disabled", true);
            var self = $(this);
            if (tryNumber > 0) {
                tryNumber++;
                alert('We are updating Wallet. wait please.');
                return false;
            }
            else {
                tryNumber++;
            }
            if ($('input[name="DrCr"]:checked').attr("value") == "Debit")
            checkbalance();
           
                var formdata = new FormData($("#form_walletBalance")[0]);
                console.log("form data = > " + formdata);
                $.ajax({
                    url: '@Url.Action("DebitCreditWallet", "Transaction")',
                    type: 'POST',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    async: false,
                    success: function (objResponse) {
                        $("#SaveWalletBalance").removeAttr("disabled");
                        if (objResponse != null) {
                            
                            if (objResponse.ResponseStatus == "OK") {
                                var link = '@Url.Action("AddWallet", "Transaction")';
                                window.location.href = link;
                            }
                            else {
                               
                                OpenDialog("dialogMessage", objResponse.ResponseMessage, "false");
                                tryNumber = 0;
                            }
                        }
                        return false;
                    },
                    error: function (xhr, data) {
                        //  return false;
                        console.log(xhr);
                        console.log("Error:", data);
                    }
                });
            }
                return false;
                tryNumber = 0;
        });
    });
    function OpenDialog(dialogId, Message, isConfirmation) {
        $("#" + dialogId).empty();
        $("#" + dialogId).append('<p>' + Message + '</p>');
        if (isConfirmation == "true") {
            $("#" + dialogId).dialog({
                modal: true,
                buttons: [{
                    text: "Yes",
                    id: "btnYes" + dialogId,
                    click: function () {
                        //var isOpen = $("#dialog").dialog("isOpen");
                        //if (isOpen == true) {
                        //    okCallBack();
                        //}
                        IsYes = true;
                        $("#" + dialogId).dialog("close");


                    }
                },
                {
                    text: "No",
                    id: "btnNo" + dialogId,
                    click: function () {
                        //var isOpen = $("#dialog").dialog("isOpen");
                        //if (isOpen == true) {
                        //    okCallBack();
                        //}
                        IsYes = false;
                        $("#" + dialogId).dialog("close");
                    }
                }
                ]
            });
            $(".ui-dialog-titlebar-close").empty();
            $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
        }
        else {


            $("#" + dialogId).dialog({
                modal: true,
                buttons: [{
                    text: "OK",
                    id: "btn" + dialogId,
                    click: function () {
                        //var isOpen = $("#dialog").dialog("isOpen");
                        //if (isOpen == true) {
                        //    okCallBack();
                        //}

                        $("#" + dialogId).dialog("close");


                    }
                }]
            });
            $(".ui-dialog-titlebar-close").empty();
            $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
        }

    }
    function GetParytList()
    {
        $.ajax({
            url:'@Url.Action("GetPartyBalance","Transaction")',
            dataType: 'JSON',
            method: 'GET',
            success: function (objResponse) {
                PartyList = [];
                $("#PartyList").empty();
                if (objResponse)
                {
                    for (var i = 0; i < objResponse.length; i++) {
                        PartyList.push({ "PartyCode": objResponse[i].PartyCode, "PartyName": objResponse[i].PartyName, "Balance": objResponse[i].CreditLimit });
                        $("#PartyList").append("<option data-qty='" + objResponse[i].PartyCode + "' data-pname='"+ objResponse[i].PartyName +"'>" + objResponse[i].PartyName + "</option>");
                        $("#FCode").val(objResponse[0].PartyCode);
                        $("#Balance").text("Balance: " + objResponse[0].CreditLimit);
                    }
                }
            }, error: function (xhr, data) {
                //  return false;
                console.log(xhr);
                console.log("Error:", data);
            }
        });
    }

</script>

<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3>Transaction</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add Wallet Balance</h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form id="form_walletBalance" name="form_walletBalance" onsubmit="false">
                        @Html.HiddenFor(m=>m.FCode,new { id="FCode" , name = "FCode" })
                        <div class="col-lg-12">
                            <div class="row" style="margin-top:1%">
                                <label class="col-lg-3">Party<span style="color:red">*</span></label>
                                <div class="col-lg-6">
                                    
                                    <select id="PartyList" name="PartyList" class = "form-control">
                                      

                                    </select>
                                </div>
                                <label class="col-lg-3" id="Balance"></label>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="row" style="margin-top:1%">
                                <label class="col-lg-3">Amount<span style="color:red">*</span></label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.Amount, new { id = "Amount", type = "number", tabindex = "1", @required = "required", name = "Amount", @step = ".01", @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="row" style="margin-top:1%">
                                <label class="col-lg-3">Debit/Credit<span style="color:red">*</span></label>
                                <div class="col-lg-6">
                                    <label>@Html.RadioButtonFor(m => m.DrCr, "Debit" , new { tabindex = "2",@required = "required" }) Debit</label> &nbsp; &nbsp; &nbsp; &nbsp;
                                    <label>@Html.RadioButtonFor(m => m.DrCr, "Credit")  Credit</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="row" style="margin-top:1%">
                                <label class="col-lg-3">Narration<span style="color:red">*</span></label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.Narration, new { id = "Narration", tabindex = "3", name = "Narration", maxlength = "255", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>



                        <br />

                        <div class="col-lg-12" style="margin-top:1%">
                            <div class="col-lg-6 col-md-offset-3">
                                <input type="submit" id="SaveWalletBalance" class="btn btn-success" tabindex="4" value="Save">
                                <button class="btn btn-primary" type="button" tabindex="5" id="cancelClick">Cancel</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="dialogMessage" title="Message">

    </div>

</div>

