@model InventoryManagement.Entity.Common.Offer
@using InventoryManagement.Entity.Common
@{
    ViewBag.Title = "Buy this Get That Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentPartyCode = (Session["LoginUser"] as User).PartyCode;
    string CurrentPartyName = (Session["LoginUser"] as User).PartyName;
}

<style>
    .ui-widget-header {
        margin-top: -1% !important;
        width: 102% !important;
        margin-left: -1% !important;
    }

    .gj-grid-wrapper {
        min-width: 100% !important;
        overflow-x: scroll !important;
    }

    .ui-dialog-titlebar-close {
        margin-right: 1% !important;
    }

    .ui-widget-content {
        background: white !important;
        border-radius: 15px !important;
        -webkit-border-radius: 4px !important;
    }

    ui-autocomplete-input {
        z-index: 100;
    }

    .input-readonly {
        background-color: #EBEBE4;
    }
</style>


<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3>Transaction</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Buy this Get That Offer</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="CreateOfferForm" method="post" name="CreateOfferForm" onsubmit="return false" data-parsley-validate class="validateForm form-horizontal form-label-left">

                        @Html.HiddenFor(m => m.ParentProductString, new { name = "ParentProductString", id = "ParentProductString" })
                        @Html.HiddenFor(m => m.ProductString, new { name = "ProductString", id = "ProductString" })
                        @Html.HiddenFor(m => m.AID, new { name = "AID", id = "AID" })
                        @Html.HiddenFor(m => m.ActionName, new { name = "ActionName", id = "ActionName" })


                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        Offer Name
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.TextBoxFor(m => m.OfferName , new { name = "OfferName", id = "OfferName", tabindex = "1", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>                            
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        Start Date:
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.TextBoxFor(m => m.OfferFromDtStr, new { name = "StartDate", id = "StartDate", tabindex = "1", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        End Date:
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.TextBoxFor(m => m.OfferToDtStr, new { name = "EndDate", id = "EndDate", tabindex = "2", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">                           
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        Active Status:
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.DropDownListFor(m => m.ActiveStatus, new SelectList(ViewBag.ActiveOptions, "Value", "Text"), "--Select--", new { name = "ActiveStatus", id = "ActiveStatus", tabindex = "6", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-lg-12">

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <input type="button" id="AddBuyProduct" name="AddBuyProduct" data-type="AddBuyProduct" class="cancel btn btn-success" value="Add Offer Buy Product" tabindex="11" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">

                            <div class="form-group">
                                <br /><br /><br />
                                <center>
                                    <div class="loader" style="display:none"></div>
                                </center>
                                <table class="table bootstrap-datatable" id="grid"></table>
                                <center><span style="display:none" id="noRecord">No Records Found</span></center>
                                <br />
                                <div class="col-lg-12">

                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <div class="col-lg-4">
                                                <br />
                                                <input type="button" id="AddFreeProduct" name="AddFreeProduct" data-type="AddFreeProduct" class="cancel btn btn-success" value="Add Offer Free Product" tabindex="11" />
                                                <br /><br /><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                <table class="table bootstrap-datatable" id="FreeProductgrid"></table>
                            </div>
                        </div>


                        <div class="col-lg-12">

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        @if (ViewBag.UserCanAccess == "Edit")
                                        {
                                            <input type="submit" id="btnSave" name="btnSave" data-type="save" value="Save" class="btn btn-success" />
                                            <a href="/Transaction/BuyThisGetThatOfferMaster" class="cancel btn btn-success " type="button">Cancel</a>
                                        }
                                    </div>
                                    <div class="col-lg-3">&nbsp;</div>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <div id="dialogMessage" title="Message">

    </div>

    <div id="AddBuyProductdialog" title="Add Buy Product" style="display:none">
        <div class="col-lg-12" style="background-color:lightgrey;border:1px black solid;">
            <span style="width:100%;"><center>Add Offer Buy Product Details: </center></span>
        </div>
        <br />
        <div class="row" style="margin-top:1%">
            <div class="col-lg-12 form-group">

                <label class="col-lg-6">
                    Product Code:
                </label>
                <div class="col-lg-6">
                    <input type="text" id="ProductCode" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="col-lg-12 form-group">
                <label class="col-lg-6">
                    Product Name:
                </label>
                <div class="col-lg-6">
                    <input type="text" id="ProductName" class="form-control" />
                </div>
            </div>

            <div class="col-lg-12 form-group">
                <label class="col-lg-6">
                    Quantity:
                </label>
                <div class="col-lg-6">
                    <input type="number" id="BuyQuantity" class="BuyQuantity form-control" />
                </div>
            </div>

            <div class="col-lg-12 form-group">
                <label class="col-lg-6">
                    On MRP:
                </label>
                <label class="col-lg-3"><input type="radio" value="Y" name="OnMRP">Yes</label>
                <label class="col-lg-3"><input type="radio" value="N" name="OnMRP">No</label>
            </div> 
        </div>
        <div class="col-lg-12 form-group">
            <label class="col-lg-6">

            </label>
            <div class="col-lg-6" id="buyerrormsg" style="color:red;">

            </div>

        </div>
        <div class="row" style="margin-top:1%">
            <div class="col-lg-6 col-lg-offset-3">

                @*<button class="btn btn-primary" type="reset" onclick="reset()">Reset</button>*@
                <button type="button" id="YesBtn" class="btn btn-success" tabindex="0">Yes</button>
                <button class="btn btn-primary" type="button" id="NoBtn" tabindex="0">No</button>
            </div>
        </div>
    </div>

    <div id="AddFreeProductdialog" title="Add Free Product" style="display:none">
        <div class="col-lg-12" style="background-color:lightgrey;border:1px black solid;">
            <span style="width:100%;"><center>Add Offer Free Product Details: </center></span>
        </div>
        <br />
        <div class="row" style="margin-top:1%">
            <div class="col-lg-12 form-group">

                <label class="col-lg-6">
                    Product Code:
                </label>
                <div class="col-lg-6">
                    <input type="text" id="FreeProductCode" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="col-lg-12 form-group">
                <label class="col-lg-6">
                    Product Name:
                </label>
                <div class="col-lg-6">
                    <input type="text" id="FreeProductName" class="form-control" />
                </div>
            </div>

            <div class="col-lg-12 form-group">

                <label class="col-lg-6">
                    Free Quantity:
                </label>
                <div class="col-lg-6">
                    <input type="number" id="FreeProdQuantity" class="FreeQuantity form-control" />
                </div>

            </div>

            <div class="col-lg-12 form-group">
                <label class="col-lg-6">
                    BV Applied:
                </label>
                <div class="col-lg-6">
                    <select name="BVApplied" id="BVApplied" class="IsConfirm form-control">
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="col-lg-12 form-group">
            <label class="col-lg-6">
               
            </label>
            <div class="col-lg-6" id="errormsg" style="color:red;">
               
            </div>

        </div>
        <div class="row" style="margin-top:1%">
            <div class="col-lg-6 col-lg-offset-3">

                @*<button class="btn btn-primary" type="reset" onclick="reset()">Reset</button>*@
                <button type="button" id="FreeYesBtn" class="btn btn-success" tabindex="0">Yes</button>
                <button class="btn btn-primary" type="button" id="FreeNoBtn" tabindex="0">No</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/CreateOffer.js?v=2"></script>

