@model InventoryManagement.Entity.Common.DistributorBillModel
@{
    ViewBag.Title = "InvoicePrint";
    Layout = null;

    string CVCaption = Convert.ToString(Session["CVCaption"]);
    string BVCaption = Convert.ToString(Session["BVCaption"]);
    string PVCaption = Convert.ToString(Session["PVCaption"]);
    string RPCaption = Convert.ToString(Session["RPCaption"]);
    string LogoPath = Convert.ToString(Session["LogoPath"]);
    int count = 1;
    int colcount = 12;
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery-ui-1.10.4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<style>
    body {
        font-family: Verdana;
        font-size: 10px !important;
    }

    .addAllPadding {
        padding: 2px !important;
    }

    .TopBottomPadding {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .font14 {
        font-size: 14px;
    }

    .font12 {
        font-size: 12px;
    }

    .BorderRight {       
        border-left-width: 0;
        border-top-width: 0;   
        border-bottom-width: 0;    
        border-right-color: black;
        border-right-width: 1px;
        border-right-style: solid;
        /*font-size:11px;*/
    }

    .AllBorder {
        border: 1px solid black !important;
        border-right: 1px solid black !important;
        border-left: 1px solid black !important;
        border-top: 1px solid black !important;
        border-bottom: 1px solid black !important;
        font-size: 11px;
    }

    .NoBorder {
         border-right-width: 0;  
        border-left-width: 0;
        border-top-width: 0;              
        border-bottom-width: 0;
               /*font-size:11px;*/
    }

    table {
        border-collapse: collapse !important;
        width: 100%;
        font-size: 11px;
    }

    .borderbottom {
        border-collapse: collapse;
        border-spacing: 0;        
        border-right-width: 0;  
        border-left-width: 0;
        border-top-width: 0;      
        border-bottom-color: black;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        
    }

    .borderbottomRight{
        border-collapse: collapse;
        border-spacing: 0;        
         border-right-color: black;
        border-right-width: 1px;
        border-right-style: solid;
        border-left-width: 0;
        border-top-width: 0;      
        border-bottom-color: black;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        
    }

    .topborder {
        border-top: 1px solid black !important;
        border-right: none !important;
        border-left: none !important;
        border-bottom: none !important;
        font-size: 11px;
    }
</style>
<script type="text/javascript">
    function printPageElement() {
        window.print();
        return true;
    }
    $(document).ready(function () {
        $(".preloader").hide();
    });
</script>
<div id="DivToPrint" class="fontStyle" style="font-size:10px">
    <div>
        <button id="PrintPage" style="margin-left: 2%;" onclick="printPageElement()">Print</button>
        <br />
    </div>
    <div>&nbsp;</div>
    <table border="1" align="center" cellspacing="0" id="InvoicePrint" frame="box" style="font-size:0px;">
        <tbody>
            <tr class="borderbottom">
                <td colspan="2" class="addAllPadding">
                    <table>
                        <tbody>

                            <tr class="NoBorder">
                                <td class="addAllPadding borderbottom" style="width:50%">
                                    <img src='@LogoPath' width="80" height="80" style="max-height:80px;max-width:150px" />
                                </td>
                                <td align="right" class="addAllPadding borderbottom" style="width:50%"><h1>Tax Invoice</h1></td>
                            </tr>
                            <tr class="">
                                <td class="addAllPadding borderbottomRight" style="width:50%">
                                    <span style="font-size:20px;">
                                        Sunvis Tradenet Private Limited
                                </span>
                                <br /><span style="font-size:10px;">CHASE YOUR DREAMS</span>
                                <br /><span style="font-size:12px;"><em>CIN : U74999HR2019PTC083734</em></span>
                            </td>
                            <td class="borderbottom" style="width:50%;padding:0px;" rowspan="3">
                                <table border="0">
                                    <tbody>
                                        <tr class="">
                                            <td class="borderbottomRight TopBottomPadding font14">Invoice Date :</td>
                                            <td class="borderbottom TopBottomPadding font14">
                                                @if (Model.BillDate != null)
                                            {@Model.BillDate.ToString("dd-MMM-yyyy")}
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="borderbottomRight TopBottomPadding font14">Invoice No:</td>
                                        <td class="borderbottom TopBottomPadding font14">
                                            @if (!string.IsNullOrEmpty(Model.BillNo))
                                        {@Model.BillNo}
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="borderbottomRight TopBottomPadding font14">Buyer's Order No :</td>
                                    <td class="borderbottom TopBottomPadding font14">
                                        @if (Model.OrderNo != null)
                                    {@Model.OrderNo.ToString()}
                                </td>
                            </tr>
                            <tr class="">
                                <td class="borderbottomRight TopBottomPadding font14">Dispatch Document No:</td>
                                <td class="borderbottom TopBottomPadding font14">
                                    @if (Model.EWayBillNo != null)
                                    {@Model.EWayBillNo.ToString()}
                                </td>
                            </tr>
                            <tr class="">
                                <td class="borderbottomRight TopBottomPadding font14">Dispatch through:</td>
                                <td class="borderbottom TopBottomPadding font14">@if (Model.TransporterName != null)
                                {@Model.TransporterName.ToString()}</td>
                            </tr>
                            <tr class="">
                                <td class="borderbottomRight TopBottomPadding font14">Destination :</td>
                                <td class="borderbottom TopBottomPadding font14">@if (Model.ShippedTo != null)
                                {@Model.ShippedTo.ToString()}</td>
                            </tr>
                            <tr>
                                <td class="BorderRight TopBottomPadding font14">Other Reference:</td>
                                <td class="TopBottomPadding font14">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="">
                <td class="addAllPadding borderbottomRight" style="width:50%">
                    <span style="font-size:12px;">905, AGARWAL MILLENIUM TOWER-1, NETAJI SUBASH PLACE, </span>
                    <br /><span style="font-size:12px;">PITAMPURA, DELHI-110034 </span>
                    <br /><span style="font-size:12px;">Email : customercare@mysunvis.com</span>
                    <br /><span style="font-size:12px;">Phone : +91-7289905609 ( products ); +91-7289905709 ( Coupons)</span>
                    <br /><span style="font-size:12px;">Website : www.mysunvis.com</span>
                </td>

            </tr>
            <tr class="">
                <td class="addAllPadding borderbottomRight" style="width:50%">
                    <span style="font-size:12px;"><i>GSTIN : @if (!string.IsNullOrEmpty(Model.GSTNo))
                    {
                        <span id="lblTinNotxt">@Model.GSTNo</span>
                    }</i> </span>
                    <br /><span style="font-size:12px;"><i>State : Delhi ; Code : 07</i> </span>

                </td>

            </tr>
            <tr class="">
                <td align="center" class="borderbottomRight" style="width:50%;background:grey;">
                    <span style="font-size:14px;"><b>Buyer Details</b></span>
                </td>
                <td align="center" class="borderbottom" style="width:50%"><span style="font-size:14px;"><b>Terms of Delivery / Special Remarks ( if any )</b></span></td>
            </tr>
            <tr class="">

                <td class="borderbottomRight" style="width:50%">

                    <table border="0">
                        <tbody>
                            <tr class="">
                                <td class="borderbottomRight  font14" style="width:30%">Customer ID :</td>
                                <td class="font14 borderbottom">
                                    @if (!string.IsNullOrEmpty(Model.objCustomer.IdNo))
                                    {@Model.objCustomer.IdNo}
                                </td>
                            </tr>
                            <tr class="">
                                <td class="borderbottomRight  font14" style="width:30%">Customer Name :</td>
                                <td class="font14 borderbottom">
                                    @if (!string.IsNullOrEmpty(Model.objCustomer.Name))
                                    {@Model.objCustomer.Name}
                                </td>
                            </tr>
                            <tr class="">
                                <td class="borderbottomRight  font14" style="width:30%">Company Name :</td>
                                <td class="font14 borderbottom"> &nbsp;</td>
                            </tr>
                            <tr class="">
                                <td class="borderbottomRight  font14 " style="width:30%" rowspan="4">Address :</td>
                                <td class="font14 borderbottom">
                                    @if (!string.IsNullOrEmpty(Model.objCustomer.Address))
                                    {@Model.objCustomer.Address}
                                </td>
                            </tr>
                            <tr class="">
                                <td class="font14 borderbottom"> &nbsp;</td>
                            </tr>
                            <tr class="">
                                <td class="font14 borderbottom"> &nbsp;</td>
                            </tr>
                            <tr class="">
                                <td class="font14 borderbottom"> &nbsp;</td>
                            </tr>
                            <tr class="">
                                <td class="borderbottomRight  font14 " style="width:30%">City :</td>
                                <td class="font14 borderbottom"> @if (!string.IsNullOrEmpty(Model.objCustomer.City))
                                {@Model.objCustomer.City} </td>
                            </tr>
                            <tr class="">
                                <td class="borderbottomRight  font14 " style="width:30%">State :</td>
                                <td class="font14 borderbottom"> @if (!string.IsNullOrEmpty(Model.objCustomer.State))
                                {@Model.objCustomer.State} </td>
                            </tr>
                            <tr class="">
                                <td class="borderbottomRight  font14 " style="width:30%">Zip Code :</td>
                                <td class="font14 borderbottom">
                                    @if (!string.IsNullOrEmpty(Model.objCustomer.ZipCode))
                                    {@Model.objCustomer.ZipCode} 
                                </td>
                            </tr>
                            <tr class="">
                                <td class="borderbottomRight  font14 " style="width:30%">Phone No :</td>
                                <td class="font14 borderbottom">
                                    @if (!string.IsNullOrEmpty(Model.objCustomer.MobileNo))
                                    {@Model.objCustomer.MobileNo}
                                </td>
                            </tr>
                            <tr class="">
                                <td class="borderbottomRight  font14 " style="width:30%">Email :</td>
                                <td class="font14 borderbottom">
                                    @if (!string.IsNullOrEmpty(Model.objCustomer.Email))
                                    {@Model.objCustomer.Email}
                                     
                                </td>
                            </tr>
                            <tr>
                                <td class="BorderRight  font14 " style="width:30%">GSTIN :(if any)</td>
                                <td class="font14"> @Model.objCustomer.GSTNo</td>
                            </tr>
                        </tbody>
                    </table>
                </td>

                <td class="borderbottom" style="width:50%">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="2" class="borderbottom">
                    <table border="1">
                        <tbody>
                            <tr>
                                <td align="center"><span style="font-size:12px;"><b>Sr No.</b></span></td>
                                <td align="center"><span style="font-size:12px;"><b>Description</b></span></td>
                                <td align="center"><span style="font-size:12px;"><b>HSN</b></span></td>
                                <td align="center"><span style="font-size:12px;"><b>Qty</b></span></td>
                                <td align="center"><span style="font-size:12px;"><b>MRP</b></span></td>
                                <td align="center"><span style="font-size:12px;"><b>Discount</b></span></td>
                                <td align="center"><span style="font-size:12px;"><b>Net Price</b></span></td>
                                <td align="center"><span style="font-size:12px;"><b>Tax Value</b></span></td>
                                <td align="center"><span style="font-size:12px;"><b>Tax Type</b></span></td>
                                <td align="center"><span style="font-size:12px;"><b>Tax Rate</b></span></td>
                                <td align="center"><span style="font-size:12px;"><b>Tax Amount</b></span></td>
                                <td align="center"><span style="font-size:12px;"><b>Total</b></span></td>
                            </tr>
                            @{

                                decimal totalcgst = 0;
                                decimal totalsgst = 0;
                                decimal? totaligst = 0;
                                decimal? totalprice = 0;
                                decimal totalmrp = 0;
                                decimal? totaldiscount = 0;
                                decimal totaltaxvalue = 0;


                            }

                            @foreach (var obj in Model.objListProduct)
                                        {
                                            var taxValue = ((int)obj.Quantity * obj.DP)-obj.TaxAmt;
                                                        if (obj.Rate > 0)
                                            {
                                <tr>
                                    <td align="center" class="rightBorderOnly">@count.</td>
                                    <td align="center">



                                        @obj.ProductName

                                </td>
                                <td align="center">@obj.HSNCode</td>
                                <td align="center">
                                    @{ var qty = (int)obj.Quantity;
                                }
                                @qty
                            </td>
                            <td align="center">@obj.MRP</td>
                            <td align="center">@obj.DiscAmt</td>
                            <td align="center">@obj.DP</td>
                            <td align="center">@obj.Amount</td>
                            <td align="center">
                                <table>
                                    <tr><td align="center">CGST</td></tr>
                                    <tr><td align="center">SGST</td></tr>
                                    <tr><td align="center">IGST</td></tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr><td align="center">@obj.CGST</td></tr>
                                    <tr><td align="center">@obj.SGST</td></tr>
                                    <tr><td align="center">@obj.TaxPer</td></tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr><td align="center">@obj.CGSTAmount</td></tr>
                                    <tr><td align="center">@obj.SGSTAmount</td></tr>
                                    <tr><td align="center">@obj.TaxAmt</td></tr>
                                </table>
                            </td>
                            <td align="center">@(obj.Amount + obj.TaxAmt + obj.SGSTAmount + obj.CGSTAmount)</td>
                        </tr>
                                                count = count + 1;
                                                totalcgst += obj.CGSTAmount;
                                                totalsgst += obj.SGSTAmount;
                                                totaligst += obj.TaxAmt;
                                                totalprice += obj.DP??0;
                                                totaldiscount += obj.DiscAmt;
                                                totalmrp += obj.MRP??0;
                                                totaltaxvalue += taxValue??0;
                                            }
                                        }

                            <tr>
                                <td class="TopBottomPadding"></td>
                                <td class="TopBottomPadding" colspan="3" align="center"><span style="font-size:14px;"><b>Gross total</b></span></td>
                                <td align="center" class="TopBottomPadding">@totalmrp</td>
                                <td align="center" class="TopBottomPadding">@totaldiscount</td>
                                <td align="center" class="TopBottomPadding">@totalprice</td>
                                <td align="center" class="TopBottomPadding">@totaltaxvalue</td>
                                <td align="center" class="TopBottomPadding" colspan="3">
                                    <table>
                                        <tr><td align="center" class="BorderRight" width="50%">CGST</td><td align="center" width="50%">@totalcgst</td></tr>
                                        <tr><td align="center" class="BorderRight" width="50%">SGST</td><td align="center" width="50%">@totalsgst</td></tr>
                                        <tr><td align="center" class="BorderRight" width="50%">IGST</td><td align="center" width="50%">@totaligst</td></tr>
                                    </table>
                                </td>
                                <td align="center" class="TopBottomPadding">@Model.objProduct.TotalNetPayable</td>
                            </tr>

                        </tbody>
                    </table>

                </td>
            </tr>
            <tr >
                <td class="borderbottom" colspan="2" align="center"><span style="font-size:14px"><b>Total Invoice Amount In Words:</b></span></td>
            </tr>
            <tr >
                <td class="borderbottom" colspan="2" align="center"><span style="font-size:14px"><b>Rupee @Model.objProduct.TotalAmountString </b></span></td>
            </tr>
            <tr >
                <td class="borderbottomRight">
                    <table>
                        <tbody>
                            <tr >
                                <td class="TopBottomPadding borderbottomRight" width="50%" align="center"><span class="font14"><b>Company's GST No</b></span></td>
                                <td class="TopBottomPadding borderbottom" width="50%" align="center">
                                    <span class="font14">
                                        <b>
                                            @if (!string.IsNullOrEmpty(Model.GSTNo))
                                            {
                                                <span id="lblTinNotxt">@Model.GSTNo</span>
                                            }
                                        </b>
                                    </span>
                                </td>
                            </tr>
                            <tr class="">
                            <td class="TopBottomPadding borderbottomRight" width="50%" align="center"><span class="font14"><b>Company's PAN </b></span></td>
                            <td class="TopBottomPadding borderbottom" width="50%" align="center"><span class="font14"><b>@if (!string.IsNullOrEmpty(Model.GSTNo))
                            {
                                <span id="lblTinNotxt">@Model.PanNo</span>
                            }</b></span></td></tr>
                            <tr><td class="TopBottomPadding" colspan="2" align="center"><span class="font14"><b>Subject to New Delhi Jurisidciation and the Terms & Conditions as mentioned on the Website shall be final </b></span></td></tr>
                        </tbody>
                    </table>

                </td>
                <td class="borderbottom">
                    <span style="font-size:14px"><b>For, Sunvis Tradenet Private Limited</b></span>
                    <br /><br /><br /><br /><br />
                    <span style="font-size:12px"><b>Authorised Signatory</b></span>
                    <br />
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2" class="addAllPadding">
                    <span id="lblRegdOffice" style="font-size:11px;">This is computer generated invoice.</span>
                </td>
            </tr>

        </tbody>
    </table>
</td>
</tr>
</tbody>
</table>
</div>
