@model InventoryManagement.Entity.Common.Offer
@using InventoryManagement.Entity.Common
@{
    ViewBag.Title = "Create Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentPartyCode = (Session["LoginUser"] as User).PartyCode;
    string CurrentPartyName = (Session["LoginUser"] as User).PartyName;
}

<style>
    .ui-widget-header {
        margin-top: -1% !important;
        width: 102% !important;
        margin-left: -1% !important;
    }

    .gj-grid-wrapper {
        min-width: 100% !important;
        overflow-x: scroll !important;
    }

    .ui-dialog-titlebar-close {
        margin-right: 1% !important;
    }

    .ui-widget-content {
        background: white !important;
        border-radius: 15px !important;
        -webkit-border-radius: 4px !important;
    }

    ui-autocomplete-input {
        z-index: 2147483647;
    }
    

    .input-readonly {
        background-color: #EBEBE4;
    }
</style>


<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3>Offer</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Offer on Value or BV</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="CreateOfferForm" method="post" name="CreateOfferForm" onsubmit="return false" data-parsley-validate class="validateForm form-horizontal form-label-left">

                         @Html.HiddenFor(m => m.FreeProdIDs, new { name = "FreeProdIDs", id = "FreeProdIDs" })
                         @Html.HiddenFor(m => m.FreeProdQty, new { name = "FreeProdQty", id = "FreeProdQty" })
                         @Html.HiddenFor(m => m.ConfFreeProdIDs, new { name = "ConfFreeProdIDs", id = "ConfFreeProdIDs" })
                         @Html.HiddenFor(m => m.ConfFreeProdQtys, new { name = "ConfFreeProdQtys", id = "ConfFreeProdQtys" })
                         @Html.HiddenFor(m => m.AID, new { name = "AID", id = "AID" })
                         @Html.HiddenFor(m => m.ActionName, new { name = "ActionName", id = "ActionName" })

                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        Date type:
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.DropDownListFor(m => m.OfferDatePart, new SelectList(ViewBag.ForDateType, "Value", "Text"), new { name = "ForDateType", id = "ForDateType", tabindex = "0", @required = "required", @class = "form-control col-md-7 col-xs-12" })                                       
                                    </div>
                                </div>
                            </div>     
                            
                            <div class="col-lg-6" id="OfferDayDiv" style="display:none;">
                                
                                <div class="form-group">  
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">

                                    </label>                                 
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.DropDownListFor(m => m.OfferStartDay, new SelectList(ViewBag.Days, "Value", "Text"), "--Start Day--", new { name = "ForDateType", id = "ForDateType", tabindex = "0", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                
                                    <div class="col-lg-1" style="padding-left: 0.5%;">
                                        &nbsp;
                                    </div>
                               
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.DropDownListFor(m => m.OfferEndDay, new SelectList(ViewBag.Days, "Value", "Text"), "--End Day--", new { name = "ForDateType", id = "ForDateType", tabindex = "0", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>                           
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        Start Date:
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.TextBoxFor(m => m.OfferFromDtStr, new { name = "StartDate", id = "StartDate", tabindex = "1", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        End Date:
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.TextBoxFor(m => m.OfferToDtStr, new { name = "EndDate", id = "EndDate", tabindex = "2", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        Offer On Value :
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.TextBoxFor(m => m.OfferOnValue, new { type = "number", name = "OfferOnValue", id = "OfferOnValue", tabindex = "3", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        Offer On BV:
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.TextBoxFor(m => m.OfferOnBV, new { type = "number", name = "OfferOnBV", id = "OfferOnBV", tabindex = "4", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                       Continue For Months :
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.TextBoxFor(m => m.ForMonth, new { type = "number", name = "ForMonth", id = "ForMonth", tabindex = "5", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div> 
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        Active Status:
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.DropDownListFor(m => m.ActiveStatus, new SelectList(ViewBag.ActiveOptions, "Value", "Text"), "--Select--", new { name = "ActiveStatus", id = "ActiveStatus", tabindex = "6", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>
                                                       
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        Offer Bill type :
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.DropDownListFor(m => m.OfferBillType, new SelectList(ViewBag.ForBillType, "Value", "Text"), "--Select--", new { name = "ForBillType", id = "ForBillType", tabindex = "7", @required = "required", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        ID Status
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.DropDownListFor(m => m.IdStaus, new SelectList(ViewBag.idStatus, "Value", "Text"), new { name = "IdStatus", id = "IdStatus", tabindex = "9", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>

                           
                        </div>                        

                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        IS Offer For New Id :
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.DropDownListFor(m => m.ForNewIds, new SelectList(ViewBag.DropDownOptions, "Value", "Text"), new { name = "ForNewIds", id = "ForNewIds", tabindex = "8", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-6" id="checknewiddiv" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        Check New ID With :
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        <label class="col-lg-6"><input   type="radio" name="checknewId" value="date" /> Date</label>
                                        <label class="col-lg-6"><input   type="radio" name="checknewId" value="days" />Days</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-6" id="iddaysdiv" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        ID Days:
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.TextBoxFor(m => m.IdDays, new { name = "IdDays", id = "IdDays", tabindex = "10", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6" id="iddatediv" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        ID Date:
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.TextBoxFor(m => m.IdDate, new { name = "IdDate", id = "IdDate", tabindex = "10", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>
                            </div>
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12" for="category-name">
                                        Combine with Offer:
                                    </label>
                                    <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0.5%;">
                                        @Html.DropDownListFor(m => m.CombineWithOffer, new SelectList(ViewBag.CombineOfferList, "Value", "Text"),"--Select--", new { name = "CombineWithOffer", id = "CombineWithOffer", tabindex = "8", @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-12">
                                &nbsp;
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-4 form-group">
                                    <input type="button" id="AddProduct" name="AddProduct" data-type="AddProduct" class="cancel btn btn-success" value="Add Offer Product" tabindex="11" />
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <br /><br />
                                    <center>
                                        <div class="loader" style="display:none"></div>
                                    </center>

                                    <center><span style="display:none" id="noRecord">No Records Found</span></center>
                                    <br /><br /><br />
                                    <table class="table bootstrap-datatable" id="FreeProductgrid"></table>
                                </div>
                            </div>


                            <div class="col-lg-12">

                                <div class="form-group">

                                    <div class="col-lg-12">

                                        <div class="col-lg-4">
@if (ViewBag.UserCanAccess == "Edit")
{
                                            <input type="submit" id="btnSave" name="btnSave" data-type="save" value="Save" class="getReport btn btn-success" />
                                            <input type="button" id="btnCancel" name="btnCancel" data-type="Cancel" class="cancel btn btn-success" value="Cancel" />
}
                                        </div>

                                    </div>

                                </div>
                            </div>

</form>
                </div>

            </div>
        </div>
    </div>
    <div id="dialogMessage" title="Message">

    </div>

    <div id="AddProductdialog" title="Add Product" style="display:none">
        <div class="col-lg-12" style="background-color:lightgrey;border:1px black solid;">
            <span style="width:100%;"><center>Add Offer Product Details: </center></span>
        </div>
        <br />
        <div class="row" style="margin-top:1%">
            <div class="col-lg-12 form-group">

                <label class="col-lg-6">
                    Product Code:
                </label>
                <div class="col-lg-6">
                    <input type="text" id="ProductCode" class="form-control" readonly="readonly"/>
                </div>
            </div>

            <div class="col-lg-12 form-group">
                <label class="col-lg-6">
                    Product Name:
                </label>
                <div class="col-lg-6">
                    <input type="text" id="ProductName" class="form-control" />
                    <select tabindex="0" name="ProductNameList" id="ProductNameList" style="display:none;width:89%;z-index:99999" class="form-control col-lg-7">
                        <option value="0">--Select product</option>
                    </select>
                </div>
            </div>
            
            <div class="col-lg-12 form-group">
                <label class="col-lg-6">
                    Is Confirm:
                </label>
                <div class="col-lg-6">
                    <select name="IsConfirm" id="IsConfirm" class="IsConfirm form-control">
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                    </select>
                </div>

            </div>
            <div class="col-lg-12 form-group">

                <label class="col-lg-6">
                    Free Quantity:
                </label>
                <div class="col-lg-6">
                    <input type="number" id="FreeQuantity" class="FreeQuantity form-control" />
                </div>

            </div>
        </div>
        <div class="row" style="margin-top:1%">
            <div class="col-lg-6 col-lg-offset-3">

                @*<button class="btn btn-primary" type="reset" onclick="reset()">Reset</button>*@
                <button type="button" id="YesBtn" class="btn btn-success" tabindex="0">Yes</button>
                <button class="btn btn-primary" type="button" id="NoBtn" tabindex="0">No</button>
            </div>
        </div>
    </div>
   

</div>


<script >
    var ItemList = [], FullProductList = [], FreeProductArray=[];
    var grid, FreeProductgrid, dialog;

    $(document).ready(function () {
        $(".preloader").hide();
        var action = $("#ActionName").val();

        if (action.toLowerCase() == "edit") {
            getfreeProductList();
             if ($("#ForDateType").val() == "D") {
                    $("#OfferDayDiv").show();
                }
                else {
                    $("#OfferDayDiv").hide();
                }
        }
        else {
            fillFreeProductGrid();
        }

       dlg = $("#AddProductdialog");
         
        getAllProductNames();
        $("#ProductName").autocomplete({
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(ItemList, request.term);
                response(results.slice(0, 50));
            },
            minLength: 1,
            scroll: true,
            select: function (event, ui) {
                $("#ProductName").val(ui.item.label);
                SetSpecificCode(ui.item.label);
                return false;
            },
            appendTo: $("#AddProductdialog"),
        }).focus(function () {
            $(this).autocomplete("search", "");
        });

        $("#ForNewIds").change(function () {
            if ($(this).val() == 'Y') {
                $("#checknewiddiv").show();
            }
            else {
                $("#checknewiddiv").hide();
                $("#iddaysdiv").hide();
                $("#iddatediv").hide();
            }
        });
        
        $("#ForDateType").change(function () {
            if ($(this).val() == "D") {
                $("#OfferDayDiv").show();
            }
            else {
                $("#OfferDayDiv").hide();
            }
        });

        $('input:radio[name="checknewId"]').change(function () {
            if ($(this).val() == 'date') {
                $("#iddaysdiv").hide();
                $("#iddatediv").show();
            } else {
                $("#iddaysdiv").show();
                $("#iddatediv").hide();
            }
            $("#IdDays").val(0);
            $("#IdDate").val("");
        });

        var dateToday = new Date();
        $("#StartDate").datetimepicker({
            format: 'DD-MM-YYYY',           
            widgetPositioning: {
                horizontal: 'auto',
                
                vertical: 'bottom'
            }

        });

        $("#EndDate").datetimepicker({
            format: 'DD-MM-YYYY',           
            widgetPositioning: {                
                horizontal: 'auto',
                vertical: 'bottom'
            }

        });

        $("#IdDate").datetimepicker({
            format: 'DD-MM-YYYY',           
            widgetPositioning: {
                horizontal: 'auto',
                vertical: 'bottom'
            }

        });


        $("#btnReset").click(function () {
            resetform();
        });

        $("#AddProduct").click(function () {
            $("#AddProductdialog").dialog({
                modal: true,
                width: "60%"
            });
        });

        $("#NoBtn").click(function () {
            $("#AddProductdialog").dialog('close');
        });

        $("#YesBtn").click(function () {
            var objIndex = 0;
            var code = $("#ProductCode").val();
            var Name = $("#ProductName").val();
            var FreeQty = $("#FreeQuantity").val();
            var IsConfirm = $("#IsConfirm").val();

            var product = { "ProdCode": code, "ProductName": Name, "FreeQty": FreeQty, "Confirm": IsConfirm };

            if (FreeProductArray.length > 0) {
                objIndex = FreeProductArray.findIndex((obj => obj.ProdCode == code));
                if (objIndex === -1) {
                    FreeProductArray.push(product);
                }
                else {
                    FreeProductArray[objIndex] = product;
                }
            }
            else {
                FreeProductArray.push(product);
            }

            fillFreeProductGrid();
            ClearProductdetails();
            $("#AddProductdialog").dialog('close');
            $("#btnSave").prop('disabled', false);
        });

        $("form[name=CreateOfferForm]").unbind("submit");
        $("form[name=CreateOfferForm]").bind('submit', function (e) {
            var validate = true;
            $('#btnSave').attr('disabled', true);            
           
            var FromDate = $("#StartDate").val();
            var ToDate = $("#EndDate").val();

            if (FromDate != "" && FromDate != null && ToDate != null && ToDate != "") {
                var d1 = toDate(FromDate);
                var d2 = toDate(ToDate);
                if (d1 > d2) {
                    validate = false;
                    $(".preloader").hide();
                    OpenDialog("dialogMessage", "Start Date should be less than End Date!", "false");
                }                
            }

            if (validate) {
                if ($("#ForDateType").val() == "D") {
                    var start = $("#OfferStartDay").val();
                    var end = $("#OfferEndDay").val();
                    if (start != "" && start != null && start != undefined && end != "" && end != null && end != undefined) {
                        start = parseInt(start);
                        end = parseInt(end);
                        if (start > end) {
                            OpenDialog("dialogMessage", "Start Day should be less than end.", "false");
                            validate = false;
                            $(".preloader").hide();
                        }
                    }
                }
            }

            if (validate) {
                if (FreeProductArray.length == 0) {
                    OpenDialog("dialogMessage", "Please add a free product.", "false");
                    validate = false;
                    $(".preloader").hide();
                }
            }

            if (validate == true) {                

                var Confirmresult = FreeProductArray.map(function (a) {
                    if (a.Confirm == "Y")
                        return a.ProdCode;
                });

                var ConfirmQtyresult = FreeProductArray.map(function (a) {
                    if (a.Confirm == "Y")
                        return a.FreeQty;
                });

                var FreeProdresult = FreeProductArray.map(function (a) {
                    if (a.Confirm == "N")
                        return a.ProdCode; 
                });

                var FreeProdQtyresult = FreeProductArray.map(function (a) {
                    if (a.Confirm == "N")
                        return a.FreeQty;
                });

                $("#ConfFreeProdQtys").val(ConfirmQtyresult.join(","));
                $("#ConfFreeProdIDs").val(Confirmresult.join(","));
                $("#FreeProdIDs").val(FreeProdresult.join(","));
                $("#FreeProdQty").val(FreeProdQtyresult.join(","));

                var formdata = new FormData($(this)[0]);

                $.ajax({
                    url: 'SaveDynamicOffer',
                    type: 'POST',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    success: function (objResponse) {
                        $(".preloader").hide();
                        if (objResponse != null) {
                            if (objResponse.ResponseStatus == "OK") {
                                OpenDialog("dialogMessage", "Saved Successfully", "false");
                                window.location.href = "OfferOnValueMaster";
                            }
                            else {
                                OpenDialog("dialogMessage", objResponse.ResponseMessage, "false");
                            }
                        }
                        $('#btnSave').attr('disabled', false);
                    },
                    error: function (xhr, data) {
                        $('#btnSave').attr('disabled', false);
                        $(".preloader").hide();
                        console.log(xhr);
                        console.log("Error:", data);
                    }
                });

            }
            return false;
        });

    });

    function toDate(dateStr) {
        var parts = dateStr.split("-");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }

    function getAllProductNames() {
        $.ajax({
            url: '/Transaction/GetProductList',
            dataType: 'JSON',
            method: 'GET',
            success: function (data) {
                ItemList = [];
                if (data != null) {
                    FullProductList = data;
                    ItemList = data.map(a => a.ProductName);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function getfreeProductList() {
        var AID = $("#AID").val();
        $.ajax({
            url: '/Transaction/getfreeproducts',
            dataType: 'JSON',
            method: 'GET',
            data:{"id":AID},
            success: function (data) {
                FreeProductArray = [];
                for (var i = 0; i < data.length; i++)
                {
                    FreeProductArray.push({ "ProdCode": data[i].ProductCode, "ProductName": data[i].ProductName, "Confirm": data[i].Confirm, "FreeQty": data[i].Qty });
                }
                fillFreeProductGrid();
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function SetSpecificCode(label) {
        var objIndex = FullProductList.findIndex((obj => obj.ProductName == label));
        if (objIndex != -1) {
            $("#ProductCode").val(parseFloat(FullProductList[objIndex].ProductCode));
        }
    }

    function Delete(ev) {
        FreeProductArray = $.grep(FreeProductArray, function (e) {
            return e.ProdCode != ev.data.record.ProdCode;
        });
        fillFreeProductGrid();
    }

    function fillFreeProductGrid() {

        $("#noRecord").hide();
        if (FreeProductgrid != null) {
            FreeProductgrid.destroy();
            $('#FreeProductgrid').empty();
        }

        FreeProductgrid = $('#FreeProductgrid').grid({
            dataSource: FreeProductArray,
            uiLibrary: 'bootstrap',
            headerFilter: false,
            columns: [
                { field: 'ProdCode', title: 'Enter Product Code', width: 100, sortable: true, hidden: false, filterable: false },
                { field: 'ProductName', title: 'Product Name', width: 100, sortable: true, hidden: false, filterable: true },
                { field: 'Confirm', title: 'Is Confirm', width: 120, sortable: true, hidden: false, filterable: true },
                { field: 'FreeQty', title: 'FreeQty', width: 120, sortable: true, hidden: false, filterable: true },
                { title: '', field: 'Delete', width: 34, type: 'icon', width: 70, icon: 'glyphicon-remove', tooltip: 'Edit', events: { 'click': Delete }, filterable: false }
            ],
            pager: { limit: 20, sizes: [15, 20, 35, 50, 65, 80, 95, 100] }
        });

    }

    function OpenDialog(dialogId, Message, isConfirmation) {
        $("#" + dialogId).empty();
        $("#" + dialogId).append('<p>' + Message + '</p>');
        if (isConfirmation == "true") {
            $("#" + dialogId).dialog({
                modal: true,
                buttons: [{
                    text: "Yes",
                    id: "btnYes" + dialogId,
                    click: function () {
                        IsYes = true;
                        $("#" + dialogId).dialog("close");
                    }
                },
                {
                    text: "No",
                    id: "btnNo" + dialogId,
                    click: function () {
                        IsYes = false;
                        $("#" + dialogId).dialog("close");
                    }
                }
                ]
            });
            $(".ui-dialog-titlebar-close").empty();
            $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
        }
        else {


            $("#" + dialogId).dialog({
                modal: true,
                buttons: [{
                    text: "OK",
                    id: "btn" + dialogId,
                    click: function () {
                        $("#" + dialogId).dialog("close");
                    }
                }]
            });
            $(".ui-dialog-titlebar-close").empty();
            $(".ui-dialog-titlebar-close").append('<i class="fa fa-close"></i>');
        }

    }
    function ClearProductdetails() {
        $("#ProductName").val("");
        $("#ProductCode").val("");
        $("#IsConfirm").val("");
        $("#FreeQuantity").val("");
    }
</script>

